﻿<div id="alert-wrapper">
    <div *ngFor="let alert of alerts" class="{{ cssClass(alert) }} alert-dismissable">
        <div class="alert-icon"><img src="/assets/images/{{img(alert)}}" /></div>
        <span class="alert-message">{{alert.message}}</span>
        <a class="alert-close close" (click)="removeAlert(alert)"><img src="/assets/images/ic_message_close_white.svg"/></a>
    </div>
</div>