﻿ #alert-wrapper{
     position: fixed;
     left: 50%;
     bottom: 0;
     z-index: 1000;
     max-width: 100%;
 }
#alert-wrapper > .alert-dismissable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 1340px;
    max-width: 100%;
    margin: 0 0 35px;
    color: #fff;
    transform: translate(-50%,0)
}
#alert-wrapper > .alert-dismissable.alert-success{
    background: rgba(0,158,8,.9);
}
#alert-wrapper > .alert-dismissable.alert-info {
    background: rgba(0,0,0,.75);
}
#alert-wrapper > .alert-dismissable.alert-warning {
    background: rgba(208,153,0,.9);
}
#alert-wrapper > .alert-dismissable.alert-error{
    background: rgba(181,62,41,.9);
}

#alert-wrapper > .alert-dismissable > .alert-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    flex-grow: 0;
    flex-shrink: 0
}
#alert-wrapper > .alert-dismissable > .alert-icon > img{
    width: 37px;
    height: auto;
}
#alert-wrapper > .alert-dismissable > .alert-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1000;
    font-family: 'Myriad Pro', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.296px;
    padding: 14px;
}
#alert-wrapper > .alert-dismissable > .alert-close {
    padding: 30px;
    cursor: pointer;
}
#alert-wrapper > .alert-dismissable > .alert-close > img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22px;
    height: auto;
    flex-grow: 0;
    flex-shrink: 0
}
#alert-wrapper > .alert-dismissable.alert-success > .alert-close{
    background: #007b3c;
}
#alert-wrapper > .alert-dismissable.alert-info > .alert-close{
    background: #000000;
}
#alert-wrapper > .alert-dismissable.alert-error > .alert-close {
    background: #8f2d20;
}   