﻿


<nav class="navbar navbar-default">
  <div class="container-fluid">

    <ul class="nav navbar-nav">

  <!--    <li class="item {{activeTab=='sign-in'? 'active': ''}}"><a class="item" [routerLink]="['sign-in']">Sign In</a></li>
      <li class="item {{activeTab=='sign-up'? 'active': ''}}"><a class="item" [routerLink]="['sign-up']">Sign Up</a></li>
      <li class="item {{activeTab=='dashboard'? 'active': ''}}"><a class="item" [routerLink]="['dashboard']">Dashboard</a></li> -->




      <li class="item {{activeTab=='user'? 'active': ''}}"><a class="item" [routerLink]="['dashboard/user']">ארז לוי</a></li>

      <li class="item {{activeTab=='trainer'? 'active': ''}}"><a class="item" [routerLink]="['dashboard/trainer']"> מאמן דיגיטלי</a></li>
      <li class="item {{activeTab=='forum'? 'active': ''}}"><a class="item" [routerLink]="['dashboard/forum']">הפורום</a></li>
    </ul>



    <div class="navbar-header navbar-right">

      <ul class="nav navbar-nav">
        <li class="item {{activeTab=='toolbox'? 'active': ''}}"><a class="item" [routerLink]="['dashboard/toolbox']"> ארגז כלים</a></li>
        <li class="item {{activeTab=='basket'? 'active': ''}}"><a class="item" [routerLink]="['dashboard/basket']"> סל משרות</a></li>
        <li class="item {{activeTab=='job-search'? 'active': ''}}"><a class="item" [routerLink]="['dashboard/job-search']">חיפוש משרה</a></li>
        <li class="item {{activeTab=='update'? 'active': ''}}"><a class="item" [routerLink]="['dashboard/update']">תמונת מצב</a></li>
      </ul>
      <a class="navbar-brand">
        <img src="" class="logo">
      </a>
      <span class="navbar-brand"> {{title}}</span>
    </div>
  </div>


</nav>



