﻿<div class="modal">
    <div class="modal-body">
        <input type="button" class="ui close-alert-button" (click)="dismissModal()" />
        <div class="ui row">
            <div class="ui center aligned padded grid ">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
<div class="modal-background"></div>