﻿.close-alert-button {
    background: url('/assets/images/ic_message_close.svg');
    background-size: contain;
    border: none;
    width: 1.2em;
    height: 1.2em;
    position: absolute;
    top: 20px;
    right: 20px
}

.modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .modal-background */
    z-index: 1000;
    /* enables scrolling for tall modals */
    overflow: auto;
    font-family: 'Hind Siliguri', sans-serif;
}

.modal .modal-body {
    padding: 40px;
    width: 400px;
    min-height: 200px;
    background: #fff;
    /* margin exposes part of the modal background */
    margin: 10% auto;
    position: relative;
    border-radius: 5px;
}

.modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    /* semi-transparent black  */
    background-color: #7c7f82;
    opacity: 0.5;
    /* z-index must be below .modal and above everything else  */
    z-index: 900;
}

.modal >>> .row {
    padding: 0;
}

.modal >>> .ui-modal-logo {
    width: 50px;
    height: 50px;
}

.modal >>> .ui-modal-logo.delete {
    fill: #b53e29;
}

.modal >>> .ui-modal-logo.alert {
    fill: #1b91e3;
}

.modal >>> .ui-title {
    font-size: 20px;
    padding: 40px 0;
    text-align: center;
}

.modal >>> .ui-text {
    font-size: 17px;
    padding: 27px 0;
    line-height: 1.5;
    text-align: center;
}

.modal >>> .button{
    font-weight: 400;
    width: 130px;
    text-transform: uppercase;
    vertical-align:top;
}


.modal >>> .button.blue {
    background-color: #1b91e3 !important;
    color: white !important;
}